{% load static %}

<div class="text-center">
	<div>
		<div class="contact__addr-brand">558 Design</div>
		<img class="contact__addr-logo" src="{% static "images/logo_128x128.jpg" %}" />
		<div class="contact__addr-group">
			<h5 class="contact__addr-item">Representative Office:</h5>
			<h5 class="contact__addr-item">Số 9 - Trung Yên 14 - Yên Hòa</h5>
			<h5 class="contact__addr-item">Quận Cầu Giấy - Hà Nội</h5>
		</div>
		<div class="contact__addr-group">
			<h5 class="contact__addr-item">Tel/fax: 046.2822751</h5>
			<h5 class="contact__addr-item">Hotline: 0915 866 558 or 0916 282 986</h5>
		</div>
		<div class="contact__addr-group">
			<h5 class="contact__addr-item">Email: <a href="mailto:info.558design@gmail.com">info.558design@gmail.com</a></h5>
			<h5 class="contact__addr-item">Facebook: <a href="https://www.facebook.com/558Design" target="_blank">https://www.facebook.com/558Design</a></h5>
		</div>
	</div>
</div>

<script>

$script.ready('loadcss', function() {
	loadCSS('https://fonts.googleapis.com/css?family=Geostar|Kanit');
});

</script>
